.about {
  padding: 15vh 0;
  .container {
    display: flex;
    padding: 0 8% 0 5%;
  }
  // .about__content--cont
  &__content--cont {
    width: 50%;
    img {
      width: 89%;
    }
  }
  // .about__text
  &__text {
    padding: 4% 20px 0 0;
  }
}

@media (max-width: 425px){
  .about {
    .container {
      padding: 0 16% 0 5%;
      flex-direction: column;
    }
    // .about__content--cont
    &__content--cont {
      width: 100%;
      img {
        width: 89%;
      }
    }
    // .about__content-cont:first-child
    &__content--cont:first-child {
      order: 2;
    }
    // .about__content-cont:first-child
    &__content--cont:last-child {
      order: 1;
    }
  }
}