body {
  margin: 0;
  padding: 0;
  font-family: Aileron, Arial, sans-serif;
  font-size: 16px;
}

.container {
  max-width: 1200px;
  height: 100%;
  margin: 0 auto;
  padding: 0 5%;
  box-sizing: border-box;
}

@font-face {
  font-family: "Aileron";
  src: url("../../../dist/assets/fonts/Aileron/Aileron-Regular.ttf") format("woff2");
}

@font-face {
  font-family: "Aileron-Light";
  src: url("../../../dist/assets/fonts/Aileron/Aileron-Light.ttf") format("woff2");
}

@font-face {
  font-family: "Aileron-Black";
  src: url("../../../dist/assets/fonts/Aileron/Aileron-Black.ttf") format("woff2");
}

.section {
  height: 100vh;
  width: 100%;
  box-sizing: border-box;
}

.section--white {
  background-color: #fff;
  color: #000;
}

.section--black {
  background-color: #000;
  color: #fff;
}