.contact {
  .container {
    padding: 14vh 11% 0 5%;
  }
  // .contact__title 
  &__title {
    font-family: Aileron-Light;
  }
  // .contact__textarea
  &__textarea {
    width: 100%;
    margin-top: 30px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    padding: 5px;
  }
  // .contact__send
  &__send {
    text-align: right;
    font-family: Aileron-Black;
    color: #aea6a6;
    cursor: pointer;
  }
  // .contact__error
  &__error {
    font-size: 30px;
    color: #ff000066;
    line-height: 1;
    margin: 0;
  }
  // .contact__success
  &__success {
    display: none;
    width: 75%;
    font-size: 30px;
  }
  input {
    width: 75%;
    box-sizing: border-box;
    margin-top: 30px;
    padding: 5px;
  }
}