.hero {
  padding: 50px 0 0;
  // .hero__title
  &__title {
    padding: 100px 10px;
    font-size: 7vw;
    font-family: "Aileron-Black";
  }
} 

@media (max-width: 425px){
  .hero {
    // .hero__title 
    &__title {
      font-size: 13vw;
      padding: 160px 10px;
    }
  }
}