.hero {
  padding: 50px 0 0;
  // .hero__title
  &__title {
    padding: 100px 10px 0 10px;
    font-size: 60px;
    font-family: Aileron-Black;
    line-height: 1;
    margin: 135px 0 0;
  }
  // .hero__subtitle
  &__subtitle {
    padding: 0 10px;
    font-size: 22px;
    font-family: Aileron-UltraLight;
    margin: 10px 0;
  }
} 
@media (max-width: 375px){
  .hero {
    // .hero__title 
    &__title {
      font-size: 13vw;
      padding: 140px 10px 0;
    }
    // .hero__subtitle
    &__subtitle {
      font-size: 7vw;
    }
  }
}

@media (max-width: 425px){
  .hero {
    // .hero__title 
    &__title {
      font-size: 13vw;
      padding: 80px 10px 0;
    }
    // .hero__subtitle
    &__subtitle {
      font-size: 7vw;
    }
  }
}

@media (min-width: 1200px){
  .hero {
    // .hero__title
    &__title {
      font-size: 85px;
    }
    // .hero__subtitle
    &__subtitle {
      font-size: 35px;
    }
  }
}