.nav {
  position: fixed;
  width: 100%;
  z-index: 100;
  color: #fff;
  mix-blend-mode: difference;
  // .nav__flex 
  &__flex {
    display: flex;
  }
  // .nav__title 
  &__title {
    font-size: 32px;
    margin: 10% 0;
    font-family: "Aileron-Black";
  }
  // .nav__bar 
  &__bar {
    margin: 10% 0 0 auto;
    list-style: none;
  }
  // .nav__bar--open 
  &__bar--open {
    // .nav__links 
    .nav__links {
      opacity: 1;
      transition: .5s;
    }
  }
  // .nav__links
  &__links {
    opacity: 0;
    overflow: hidden;
    transition: .5s;
  }
  // .nav__item
  &__item {
    text-align: right;
    line-height: 2.3;
    font-family: Aileron-Light, Arial, sans-serif;
    cursor: pointer;
  }
  // .nav__item--x
  &__item--x {
    width: 30px;
    height: 30px;
    position: relative;
    margin-left: auto;
    cursor: pointer;
  }
  // .nav__item--x.open
  &__item--x.open {
    span.bar:nth-child(1) {
      top: 5px;
      -webkit-transform: rotate(135deg);
      -moz-transform: rotate(135deg);
      -o-transform: rotate(135deg);
      transform: rotate(135deg);
    }
    span.bar:nth-child(2) {
      opacity: 0;
      left: -60px;
    }
    span.bar:nth-child(3){
      top: 5px;
      -webkit-transform: rotate(-135deg);
      -moz-transform: rotate(-135deg);
      -o-transform: rotate(-135deg);
      transform: rotate(-135deg);
    }
  }
  span.bar {
    display: block;
    position: absolute;
    height: 2px;
    width: 100%;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
    background-color: #fff;
  }
  span.bar:nth-child(1) {
    top: 0;
  }
  span.bar:nth-child(2) {
    top: 10px;
  }
  span.bar:nth-child(3) {
    top: 20px;
  }
}