.projects {
  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 180px 11% 0 5%;
  }
  // .projects__cont
  &__cont {
    height: 22vh;
    width: 48%;
    background-size: cover;
    display: flex;
    align-items: center;
    cursor: pointer;
    margin: 5px;
  }
  // .projects__cont--noBG
  &__cont--noBG {
    background: 'black';
    background-image: none!important;
  }
  // .projects__cont:hover
  &__cont:hover {
    opacity: .5;
    .projects__play {
      background-image: url(../../../dist/assets/img/3_Projects/projects_rollover.png);
      height: 100%;
      width: 100%;
      margin: 0 auto;
      background-size: 100%;
      background-position: center;
    }
  }
  // .projects__cont:first-child
  &__cont:first-child {
    background-image: url(../../../dist/assets/img/3_Projects/projects_thumb_1.png);
  }
  &__cont:nth-child(2) {
    background-image: url(../../../dist/assets/img/3_Projects/projects_thumb_2.png);
  }
  &__cont:nth-child(3) {
    background-image: url(../../../dist/assets/img/3_Projects/projects_thumb_3.png);
  }
  &__cont:nth-child(4) {
    background-image: url(../../../dist/assets/img/3_Projects/projects_thumb_4.png);
  }
  &__cont:nth-child(5) {
    background-image: url(../../../dist/assets/img/3_Projects/projects_thumb_5.png);
  }
  &__cont:nth-child(6) {
    background-image: url(../../../dist/assets/img/3_Projects/projects_thumb_6.png);
  }
}

@media (max-width: 1024px){
  .projects {
    .container {
      padding: 180px 12% 0 5%;
    }
  }
}

@media (max-width: 768px){
  .projects {
    .container {
      padding: 180px 13% 0 5%;
    }
  }
}

@media (max-width: 425px){
  .projects {
    .container {
      flex-wrap: wrap;
      padding: 140px 13% 0px 5%;
      height: 95%;
    }
    // .projects__cont
    &__cont {
      border: 1px solid #fff;
      height: 31%;
      width: 90%;
      margin: 5px 0;
    }
    .project__cont--mobile {
      display: none;
    }
  }
}

.modal {
  height: 100vh;
  width: 100vw;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10000;
  display: flex;
  align-items: center;
  .container {
    padding: 0;
    height: auto;
  }
  // .modal__video-cont
  &__video-cont {
    height: 50vh;
    width: 90vw;
    border: 1px solid #fff;
    border-radius: 10px;
    margin: 0 auto;
    background-color: white;
  }
}
